/*Yesssssss!! Issues with timetable and navbar overflowing. Hence causing issues. Shite!*/

html{
	scroll-behavior: smooth;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background: #f0fff0;
	color:black;
	font-size:16px;
	font-family:'Montserrat';
}
.overlay{
	padding-top:1em;
	padding-bottom:1em;
}
/* Navigation Bar */

nav{
	height:7vh;
	background: #5b78c7;
	display: flex;
	justify-content: space-around;
	position:fixed;
	width:100vw;
}

.logo{
	display:flex;
	flex-flow: row nowrap;
	width:25%;
	height:100%;
	align-items: center;
	white-space: nowrap;
}

.logo h3{
	text-align:center;
	margin:auto;
	color: white;
	font-size:1.45em;
}

.nav-links{
	display: flex;
	list-style: none;
	width:75%;
	height:100%;
	justify-content: space-around;
	align-items: center;
	font-size: 1.25em;
}

.nav-links li a{
	color:white;
	text-decoration: none;
}
.nav-links li a:hover{
	color: #ffff00;
	font-weight: 600;
}

@media screen and (max-width: 768px){
	body{
		font-size: 12.8px;
	}
	.content-child p, #home-summary p, #table-para p{
		line-height: 1.7em;
	}
	.logo{width:35%;}

	.line{
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}

	nav{
		position: fixed;
	}

	.hamburger{
		right:5%;
		align-self:center;
		position: fixed;
		cursor: pointer;
		transform: translate(-5%, -5%);
		z-index:2;
	}
	.hamburger .line{
		transition: all 0.5s ease-in-out;
	}
	
	/*animation*/
	.hamburger.open .line{
		transform: translateX(-20px);
		transition: all 0.5s ease-in-out;
	}
	.hamburger.open #line2{
		background: transparent;
	}
	.hamburger.open #line1{
		transform: rotate(45deg) translate(0px, 10.6px);
	}
	.hamburger.open #line3{
		transform: rotate(-45deg) translate(0px, -10.6px);
	}

	.nav-links{
		position:fixed;
		background: #5b78c7;
		height:100vh;
		width:100vw;
		flex-direction: column;
		clip-path: circle(100px at 115% -15%);
		-webkit-clip-path: circle(100px at 115% -15%);
		transition: all 1s ease-out;
		pointer-events: none;
		opacity:0.9;
	}
	
	.nav-links li{
		opacity: 0;
	}

	.nav-links li.fade{
		opacity: 1;
	}

	.nav-links li a{
		font-size: 1em;
	}

	.nav-links li:nth-child(1){
		transition: all 0.5s ease 0.2s;
	}
	.nav-links li:nth-child(2){
		transition: all 0.5s ease 0.4s;
	}
	.nav-links li:nth-child(3){
		transition: all 0.5s ease 0.6s;
	}
	.nav-links li:nth-child(4){
		transition: all 0.5s ease 0.8s;
	}
	.nav-links li:nth-child(5){
		transition: all 0.5s ease 1s;
	}

	.nav-links.open{
		clip-path: circle(1024px at 115% -15%);
		-webkit-clip-path: circle(1024px at 115% -15%);
		pointer-events: all;
	}

	/*video responsive */
	.videowrapper{
		position: relative;
		width:100%;
		padding-bottom: 56.25%;
		height:0;
	}
	.videowrapper iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#Home #home_outer{
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		align-content: center;
		justify-content: space-between;
	}

	#home-heading{
		padding-top: 2em;
	}
	#home_outer #image-container #profile_pic{
		width: 50%;
		height: 60%;
	}
	#image-container{
		margin-bottom: 5vh;
	}
	#home-summary{
		width:90%;
	}
	.table-inner{
		width: 100%;
		margin: none;
	}

}
/*end of media */

.videowrapper{
	padding-top:2em;
}

/* Main css */
#topbtn{
	position:fixed;
	right:25px;
	bottom:25px;
	width:3.75em;
	height:3.75em;
	border-radius:50%;
	cursor:pointer;
	background:#e62739;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	color:#ffffff;
	outline:none;
	border:none;
	transition:transform 0.3s;
}

#topbtn:hover{
	background:#ff0000;
	transform:scale(1.2);
}
#topbtn:active{
	background:#ae1e2c;
}
#downbtn{
	margin-bottom:2em;
	width:4em;
	height:4em;
	border-radius:50%;
	cursor:pointer;
	background:#FFFFFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	color:#000000;
	outline:none;
	border:none;
	transition:transform 0.3s;
}
#downbtn:hover{
	color: rgb(200, 200, 200);
	background: rgb(50, 50, 50);
	transform:scale(1.25);
}


/* Home */
#Home{
	min-height: 100vh;
	margin:auto;
	display:flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items:center;
}

#home-heading h2{
	letter-spacing: 0.05vw;
	font-weight: 550;
}

#home_outer{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#home-summary p{
	/*text-align:center;*/
	font-size:1.25em;
	font-family:'Montserrat';
	font-weight:400;
}

#image-container{
	display-flex;
}
#profile_pic{
	width:50%;
	height:75%;
	align-self:center;
	margin: auto;
	display: block;	
}

/* About */

.headings h2{
	font-weight:700;
	color:black;
	text-align: center;
	font-size:2.5em;
    letter-spacing: 0.45vw;
    text-transform: uppercase;
    font-family: 'Ubuntu';
    text-align: center;
    padding-top: 1em;
	padding-bottom:1em;
}

.content-container{
	/*min-height:120vh;*/
	display:flex;
	flex-flow: column wrap;
	align-items:center;
	justify-content:space-between;
	max-width:85%;
	margin:auto;
}
.content-child{
	flex: 1 1 auto;
	padding-top:1em;
	padding-bottom:1em;
}
.content-child h3{
	font-size:2em;
	font-family: 'Ubuntu';
	font-weight:550;
	text-transform:uppercase;
	padding-top:1em;
	padding-bottom:1em;
}
.content-child h4{
	font-size:1.2em;
	font-family: 'Ubuntu';
	font-weight:450;
	text-transform:uppercase;
}
.content-child p{
	font-size: 1.25em;
	font-family:'Montserrat';
	font-weight:400;
}
.utd{
	color:red;
}
#content-projects{
/*	min-height:80vh;*/
	display:flex;
    flex-flow: column nowrap;
    align-items:center;
    align-content: center;
    justify-content:space-between;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*Timetable*/
#table-para{
	font-size: 1.25em;
	text-align:center;
	margin:auto;
	padding-bottom: 1em;
}
#table-holder{
	overflow-x: auto;
}

.table-inner{
	font-size: 1.2em;
	border-collapse: collapse;
	width: 90%;
	margin: auto;
	height: 35vh;
}

.table-inner, .table-header, .table-break, td{
	border: 1px solid black;
    text-align: center;
}

.table-inner td, .table-inner th{
    padding: 0.7em;
}
.table-lhs{
	font-weight: 700;
}
.table-inner tr td{
}
.table-header, .table-break{
	background-color: #5b78c7;
	color: white;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* Contact form */

#Contact{
	display:flex;
	flex-flow:column wrap;
	align-items:center;
	justify-content:space-between;
	align-content:center;
	padding-bottom:2em;
}

#Contact .content-child{
	max-width:75%;
}

.form-container{
  	width: 80%;
  	max-width: 1200px;
  	margin:auto;
	border-radius: 0.3125em;
  	padding: 20px;
}
.form-container *{
	box-sizing:border-box;
}

.flexform{
  	list-style-type: none;
  	padding: 0.75em;
	max-width: 800px;
  	margin: auto;
}
.flexform li{
	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
	align-content:center;
	justify-content:space-between;
}

.flexform > li:not(:last-child) {
  margin-bottom: 20px;
}

.flexform li label{
	padding: 20px;
  	font-weight: 400;
  	letter-spacing: .09em;
  	text-transform: uppercase;
}
.flexform > li > label{
	flex: 1 0 120px;
  	max-width: 220px;
}
.flexform > li > label + *{
	flex: 1 0 220px;
}
.flexform li input, .flexform li textarea{
	padding: 1em;
	font-size:0.9375em;
	font-family:'Montserrat';
}

.flexform li button {
  	margin-left: auto;
  	padding: 1em 1em;
  	border: none;
  	background: #333;
  	color: #f2f2f2;
  	text-transform: uppercase;
  	letter-spacing: .09em;
  	border-radius: 2px;
	cursor:pointer;
}
.flexform li button:hover{
	background:#dc143c;
	transition: all 0.3s ease-in-out;
}

/* icons */
.icon-container{
	padding-top:1em;
	padding-bottom:2em;
}

.icon-container ul{
	display:flex;	
	flex-flow:row nowrap;
}
.icon-container ul li{
	list-style: none;
	margin: 0 15px;
}

.icon-container ul li .fa{
	font-size:30px;
	line-height:60px;
	transition:0.6s;
	color:#000;
}

.icon-container ul li a{
	position:relative;
	display:block;
	width:60px;
	height:60px;
	border-radius:50%;
	background-color:#fff;
	text-align:center;
	transition:0.5s;
	box-shadow:0 5px 4px rgba(0,0,0,0.5);
}

.icon-container ul li a:hover{
	transform: translate(0,-20px);
}

.icon-container ul li .fa:hover{
	color:#fff;
}
.icon-container ul li:nth-child(1) a:hover{
	background-color:#211f1f;
}
.icon-container ul li:nth-child(2) a:hover{
	background-color: #007bb5;
}
.icon-container ul li:nth-child(3) a:hover{
	background-color:#3b5998;
}
.icon-container ul li:nth-child(4) a:hover{
	background-color:#c32aa3;
}

#footer{
	padding-top:1em;
	padding-bottom:1em;
	text-align:center;
}
