html{
	scroll-behavior: smooth;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
	color:#ffbb33;
}
body{
	background:black;
	color:white;
	font-size:16px;
}
.overlay{
	font-family:'Montserrat';
	padding-top:1em;
	padding-bottom:1em;
	}
/* Navigation Bar */

/* nav container */
nav{
	position:fixed;
	top:0;
	min-width:100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	min-height: 6vh;
	background-color: rgb(235,235,235);
	font-family: "Ubuntu";
}
/* name container */
.logo{
	color: rgb(50,50,50);
	text-transform: uppercase;
	letter-spacing: 0.25em;
	text-align:center;
	padding-top:0.5em;
	font-size: 1.5em;
}
/* nav items <ul> */
.nav-content{
	display:flex;
	width: 50%;
	justify-content: space-around;
	flex-flow: row nowrap;
	list-style: none;
	font-size:1.25em;
}

.nav-content li{
	list-style: none;
	align-self:stretch;
	display:flex;
	align-items: stretch;
}

.nav-content li a{
	color: rgb(50,50,50);
	text-decoration: none;
	letter-spacing: 0.15625em;
	font-weight: bold;
	display: flex;
	flex-flow: row nowrap;
	text-align:center;
	text-transform:uppercase;
	padding-top:1em;
}
/*
.nav-content li a i{
	padding-top:0.75em;
	padding-bottom:0.75em;
}
*/
.nav-content li a:hover{
	color: red;
	font-weight:800;
}

.nav-content li a.current{
	color:red;
1}

/* burger for toggling nav bar */
.burger{
	display: none;
	align-self:center;
}

.burger div{
	width: 1.5625em;
	height: 0.1875em;
	background-color: rgb(50,50,50);
	margin: 0.3125em;
	transition all: 0.3s ease;
}

/* small hack */
@media screen and (max-width: 1200px){
	.nav-content{
		width: 70%;
	}
}

/* for mobile devices */
@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
	}
	.nav-content{
		position: absolute;
		right: 0px;
		height:92vh;
		top: 6vh;
		background-color: rgb(235,235,235);
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self:stretch;
		width: 35%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in; 
	}
	.nav-content li{
		opacity: 0;
	}
	.burger{
		display: block;
		cursor: pointer;
	}

}

.nav-active{
	transform: translateX(0%);
}

/* animation for nav-items in mobile devices */
@keyframes navFade{
	from{
		opacity: 0;
		transform: translateX(3.125em);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

/* animation for burger on click */
.clickburger .line1{
	transform: rotate(-45deg) translate (-0.3125em, 0.375em);
	opacity:0;
}

.clickburger .line2{
	transform: rotate(-45deg);
}
.clickburger .line3{
	transform: rotate(45deg) translate(-0.3125em, -0.375em);
}
/* Main css */
#topbtn{
	position:fixed;
	right:25px;
	bottom:25px;
	width:55px;
	height:55px;
	border-radius:50%;
	cursor:pointer;
	background:#e62739;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	color:#ffffff;
	outline:none;
	border:none;
	transition:transform 0.3s;
}

#topbtn:hover{
	background:#ff0000;
	transform:scale(1.2);
}
#topbtn:active{
	background:#ae1e2c;
}
#downbtn{
	margin-top:4em;
	width:4em;
	height:4em;
	border-radius:50%;
	cursor:pointer;
	background:#FFFFFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	color:#000000;
	outline:none;
	border:none;
	transition:transform 0.3s;
}
#downbtn:hover{
	background: rgb(200,200,2000);
	transform:scale(1.25);
}
/* Timetable */
#timetable{
	display:flex;
	flex-flow:column wrap;
	justify-content:space-between;
	align-items:center;
	padding-bottom:1em;
}
#timetable th{
	text-align:center;
}
#timetable th, td{
	padding:15px;
}
.tablecontent{
	margin-left: auto;
  	margin-right: auto;
	align-self:center;
	min-width:60%;
	height:60%;
	padding-top:2em;
	padding-bottom:1em;
}
.break{
	vertical-align:top;
}
.t-head, .lhs{
	background:#008080;
}
.break, #corner{
	background:#004040;
}
.tablecontent td{
}
#timetable table, th, td{
	border:1px solid white;
	border-collapse:collapse;
	text-align:center;
}

/* Home */
#Home{
	margin-top:6vh;
	margin:auto;
	height: 100vh;
	display:flex;
	flex-flow:column nowrap;
	justify-content: center;
	align-items:center;
}

.headings h2{
	font-weight:700;
	color:white;
        text-align: center;
	font-size:3em;
        letter-spacing: 0.45vw;
        text-transform: uppercase;
        font-family: 'Ubuntu';
        text-align: center;
	padding-top:1em;
	padding-bottom:1em;
}

#home-summary{
	align-self:center;
	width:50%;
}
#home-summary p{
	text-align: center;
	font-size:1.5em;
	font-family:'Montserrat';
	font-weight:400;
}
#home-summary h3{
	text-align: center;
	font-weight:700;
	padding-bottom:1em;
}
/* About */

.content-container{
	/*min-height:120vh;*/
	display:flex;
	flex-flow: column wrap;
	align-items:center;
	justify-content:space-between;
	max-width:85%;
	margin:auto;
}
.content-child{
	flex: 1 1 auto;
	padding-top:1em;
	padding-bottom:1em;
}
.content-child h3, #home-summary h3{
	font-size:2em;
	font-family: 'Ubuntu';
	font-weight:550;
	text-transform:uppercase;
}
.content-child p{
	font-size: 1.25em;
	font-family:'Montserrat';
	font-weight:400;
}
.utd{
	color:red;
}
#content-activities{
	min-height:80vh;
	display:flex;
    flex-flow: column wrap;
    align-items:center;
    justify-content:space-between;
}
/* ---------------------------------------------------------------------------------------------------------------------------- */
/* Contact form */

#Contact{
	display:flex;
	flex-flow:column wrap;
	align-items:center;
	justify-content:space-between;
	align-content:center;
	padding-bottom:2em;
}

#Contact .content-child{
	max-width:75%;
}

.form-container{
  	width: 80%;
  	max-width: 1200px;
  	margin:auto;
	border-radius: 0.3125em;
  	padding: 20px;
}
.form-container *{
	box-sizing:border-box;
}

.flexform{
  	list-style-type: none;
  	padding: 0.75em;
	max-width: 800px;
  	margin: auto;
}
.flexform li{
	display: flex;
  	flex-wrap: wrap;
  	align-items: center;
	align-content:center;
	justify-content:space-between;
}

.flexform > li:not(:last-child) {
  margin-bottom: 20px;
}

.flexform li label{
	padding: 20px;
  	font-weight: 400;
  	letter-spacing: .09em;
  	text-transform: uppercase;
}
.flexform > li > label{
	flex: 1 0 120px;
  	max-width: 220px;
}
.flexform > li > label + *{
	flex: 1 0 220px;
}
.flexform li input, .flexform li textarea{
	padding: 1em;
  	border: none;
	font-size:0.9375em;
	font-family:'Montserrat';
}

.flexform li button {
  	margin-left: auto;
  	padding: 1em 1em;
  	border: none;
  	background: #333;
  	color: #f2f2f2;
  	text-transform: uppercase;
  	letter-spacing: .09em;
  	border-radius: 2px;
	cursor:pointer;
}
.flexform li button:hover{
	background:#f2f2f2;
	color:#333;
	transition: all 0.3s ease-in-out;
}

/* icons */
.icon-container{
	padding-top:1em;
	padding-bottom:2em;
}

.icon-container ul{
	display:flex;	
	flex-flow:row nowrap;
}
.icon-container ul li{
	list-style: none;
	margin: 0 15px;
}

.icon-container ul li .fa{
	font-size:30px;
	line-height:60px;
	transition:0.6s;
	color:#000;
}

.icon-container ul li a{
	position:relative;
	display:block;
	width:60px;
	height:60px;
	border-radius:50%;
	background-color:#fff;
	text-align:center;
	transition:0.5s;
	box-shadow:0 5px 4px rgba(0,0,0,0.5);
}

.icon-container ul li a:hover{
	transform: translate(0,-20px);
}

.icon-container ul li .fa:hover{
	color:#fff;
}
.icon-container ul li:nth-child(1) a:hover{
	background-color:#211f1f;
}
.icon-container ul li:nth-child(2) a:hover{
	background-color: #007bb5;
}
.icon-container ul li:nth-child(3) a:hover{
	background-color:#3b5998;
}
.icon-container ul li:nth-child(4) a:hover{
	background-color:#c32aa3;
}

#footer{
	padding-top:1em;
	padding-bottom:1em;
	text-align:center;
}

@media screen and (max-width: 768px){
	body{
		font-size:12px;
	}
	.overlay{
		width:100vh;
		font-family:'Montserrat';
	}
	/*hack for mobile zoom */
	html{
		zoom:0.6;
	}
}
